global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    daemon

defaults
    log     global
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_api
    bind *:8080
    acl is_websocket path_beg /ws
    use_backend websocket_backend if is_websocket
    default_backend deny-all

backend websocket_backend
    balance leastconn
    option http-server-close
    timeout tunnel 1h
    cookie SERVER insert indirect nocache
    server-template app 2 socket-manager-service:3000 check

backend deny-all
    mode http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http

